* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif; 

    --ff-second:'DM Sans', sans-serif;
    --bg-color: linear-gradient(45deg, #190361 0%, #B0F 100%);
    --bg-color-secondary:#E4EDF1;
    --color-base-white:#fff;
    --fc-primary:#34355B;
    --fc-secondary:#000;
    --btn-color:#FF9500;
    --box-shadow:0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
    width: 42.8rem;
    height: 42.4rem;
    justify-content: center;
    align-items: center;
    background: var(--color-base-white);
    border-radius: .4rem;
    box-shadow: var(--box-shadow)
}

.hide {
    display: none;
}

.screen1 {
    padding: 4.8rem 6.4rem 6.4rem;  
}

h1 {
    width: 26rem;
    color: var(--fc-primary);
    overflow-wrap: break-word;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    margin-top: 1.4rem;
    font-family: var(--ff-second);
    font-size: 1.5rem;
    text-align: center; 
}

.cookie {
    margin-top: 2.6rem;
    cursor: pointer;
}

.cookie:hover {
    animation: shake 0.5s infinite;   
}

.screen2 {
    padding: 4.8rem 6.4rem;
    flex-direction: column;
    gap: 1rem;
    background: var(--color-base-white);
}

h2 {
    width: 28rem;
    color: var(--fc-primary);
    overflow-wrap: break-word;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
}

.opened-cookie {
    margin-top:4.2rem;
}

.second-p {
    color: var(--fc-secondary);
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.4rem;
    background-color: var(--bg-color-secondary);
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    padding: 1rem;
    animation:animate__backInUp message 0.5s;
}

button {
    display: flex;
    background: var(--btn-color);
    color: var(--color-base-white);
    font-family:var(--ff-second);
    padding: 1.6rem;
    border: var(--btn-color);
    border-radius: .4rem;
    text-align: center;
    width: 16rem;
    margin:4.2rem 0 0 6.6rem; 
    cursor: pointer;
}

@keyframes shake {
    0% { 
        transform: translate(0, 0) rotate(0);
     }

    10% { 
        transform: translate(-2px, -2px) rotate(-2deg);
     }

    20% { 
        transform: translate(2px, -2px) rotate(2deg); 
    }

    30% { 
        transform: translate(-2px, 2px) rotate(-2deg); 
    }

    40% { 
        transform: translate(2px, 2px) rotate(2deg); 
    }

    50% { 
        transform: translate(-2px, -2px) rotate(-2deg); 
    }

    60% { 
        transform: translate(2px, -2px) rotate(2deg); 
    }

    70% { 
        transform: translate(-2px, 2px) rotate(-2deg); 
    }

      80% { 
        transform: translate(2px, 2px) rotate(2deg); 
    }

      90% { 
        transform: translate(-2px, -2px) rotate(-2deg);
    }

      100% { 
        transform: translate(0, 0) rotate(0); 
    }  
}

@keyframes message {
    
}